/* ====================================
============== DASHBOARD =============
======================================= */
/* ============ Imports ============= */
@use "../base" as *;
@use "../helpers" as *;
@use "../abstracts/colors" as c;
@use "../abstracts/fonts" as f;
@use "../abstracts/sizes" as s;
@use "../abstracts/transitions" as t;
/* ============ Styles ============= */
.main-content {
  width: 100%;
  height: auto;
  @include v-flex(center, initial);
  @include increase-element-size(95%, s.$container-width-sizes, width);
  margin: 0 auto;
}
textarea {
  @extend .h-textarea;
}
.code {
  background-color: c.$black;
  color: c.$code-txt-color;
  width: 100%;
  padding: px-rem(25);
}
